<article>
    <form action="/api/sessions/login" method="post">
        <header><h1>Login</h1></header>
        <input type="text" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <footer><input type="submit" value="Ingresar"></footer>
    </form>
</article>