<article>
    <header><h1>Perfil</h1></header>
    <p>Nombre: {{user.first_name}}</p>
    <p>Apellido: {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Rol: {{user.role}}</p>
    <footer>
        <a href="/api/sessions/logout" role="button">Logout</a>
    </footer>
</article>