<article>
    <form action="/api/sessions/recovery-password" method="post">
        <header><h1>Restaurar Password</h1></header>
        <input type="text" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Nueva Contraseña" required>
        <footer><input type="submit" value="Restaurar"></footer>
    </form>
</article>